body{
    font-family: 'Montserrat', sans-serif;
}
#title{
    color: #262626;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
nav{
    box-shadow: none !important;
    padding-top: 20px;
}

header{
    background: url(Background.png);
    background-size: cover;
    height: 100vh;
    z-index: 5;
}
.brand-logo{
    margin: 10px 0px 10px 70px;
}
.logos{  
    width: 85px;
    height: 52px;
}
#instruction{
    color: #128905;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

#card{
    width: 500px;
    padding: 60px 60px 60px 60px;
    margin: auto;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.14);
    text-align: center;
}

input[type=text]:not(.browser-default):focus:not([read-only]), 
input[type=password]:not(.browser-default):focus:not([read-only]){
    border-bottom: 1px solid #128905 !important ;
}
input[type=text]:not(.browser-default):focus:not([read-only])+label,
input[type=password]:not(.browser-default):focus:not([read-only])+label{
    color: #128905 !important;
    font-weight: 500;
}
#card button{
    background-color: #128905;
    color: #ffffff;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    width: 290px !important;;
    padding: 25px 40px 25px 40px;
    margin-top: 50px;
}
.Candidate .card{
    border-radius: 4px !important;
}
.candidatename p{
    font-size: small;
    font-weight: bold;
}
button{
    background-color: #128905;
    color: #ffffff;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    width: 219px;
    padding: 15px 80px 15px 80px;
}
#next{
    background-color: #262626;
    margin-top: 40px;
}
#candidates{
    text-align: center;
}
button {
    -webkit-transition-duration: 0.7s; /* Safari */
    transition-duration: 0.7s;
}
button:hover{
    background-color: #1A6419 ;
}
button:focus{
    background-color: #ffffff;
    content:'SELECTED';
    visibility: visible;
    color:  #1A6419  ;
    border: 2px solid #1A6419 ;
}

.selected {
    background-color: #ffffff !important;
    visibility: visible !important;
    color:  #1A6419 !important ;
    border: 2px solid #1A6419 !important;
}
 .position h4{
     text-align: center;
     margin-bottom: 30px;
     margin-top: 10px;
     font-weight: bold;
 }
 carde:focus{

 }
 #overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  #text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
#footer{
    font-size: 8px;
    text-align: center;
    margin-top:  11.73913043478261vh;
}

@media only screen and (max-width:560px){
            nav{
                display: inline-block !important;
            }
            .brand-logo{
                margin: 0px 0px 0px -110px; 
            }
            .logos{
                width: 70px;
                height: 42px;
                float: left;
            }
            #title{
                padding-left: 60px;
            }
            #card{
                width: 300px;
                padding: 40px 40px 40px 40px;
            }
            #instruction{
                margin-top: 100px;
                margin-bottom: 30px;
            }
            #card button{
                padding: 15px 35px 15px 35px;
                margin-top: 30px;
            }
}